.elements {
  justify-content: center;
  display: grid;
  gap: 20px 17px;
  grid-template: repeat(auto-fill, 361px)/repeat(auto-fill, 282px);
  padding: 0;
}

@media screen and (max-width:900px) {
  .elements  {
    padding-left: 19px;
    padding-right: 19px;
  }
}
