.card {
  /* display: flex;
  flex-direction: column; */
  position: relative;
  background-color: white;
  width: 282px;
  /* min-height: 361px; */
  border-radius: 10px;
  padding-bottom: 22px;
  display: flex;
  flex-direction: column;
}
