.popup__submit-send_inactive {
  color: #000;
  border: 1px solid #000000;
  background-color: white;
  opacity: 0.2;
  pointer-events: none;
}
.popup__submit-send_inactive:hover {
  opacity: 0.2;
  pointer-events: none;
}
